#player-section {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height: 20%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid green;
}

#waveform {
    min-width: 50%;
    max-width: 50%;
}

#progress {
    width: 100%;
    opacity: 0.5;
}

#playing-info li {
    list-style-type: none;
    font-size: 0.75rem;
    color: green;
}